2B/ccis.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ccis_college">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Lecturer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Nationality" type="xs:string" />
              <xs:element name="Experience" type="xs:unsignedInt" />
              <xs:element name="Degree" type="xs:string" default="phd"/>
              <xs:element name='Phone'>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="phone" type="xs:unsignedLong" />
                    <xs:element name="phone" type="xs:unsignedLong" />
                    <xs:element name="phone" type="xs:unsignedLong" /> 
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>